.custom-modal .ant-modal-body {
  padding: 0px; /* 패딩 값을 원하는 값으로 수정 */
}

.custom-modal .ant-modal-content {
  border-radius: 20px;
  padding-bottom: 0px;
  background-color: "#F2F6FC";
}

.App {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  border: 11px double rgba(105, 150, 247, 0.808);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 9999;
  pointer-events: none;
  background-color: rgb(11, 81, 146);
  transition: background-color 0.6s, border-color 0.6s; /* 변화를 부드럽게 만들기 위한 트랜지션 속성 */
  opacity: 0.8; /* 80% 투명 */
}

.custom-cursor-hover {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  border: 11px double rgba(247, 138, 105, 0.808);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 9999;
  pointer-events: none;
  background-color: rgb(146, 42, 11);
  transition: background-color 0.6s, border-color 0.6s; /* 변화를 부드럽게 만들기 위한 트랜지션 속성 */
  opacity: 0.8; /* 80% 투명 */
}
